### Session 1 Assignment!

For this assignment, set up your environment according to [the instructions we went over together](https://github.com/tharma3/data_school/blob/master/Session_1.ipynb).  Get to the point where you have a notebook open and **import pandas as pd** like below.

In [2]:
import pandas as pd

Now that you have imported pandas, we're going to import our first dataset!  In pandas, a table/spreadsheet/worksheet/whatever is called a dataframe.  We are going to read in a table from Open Data and give it a descriptive name.

In [3]:
url = 'https://data.cityofnewyork.us/resource/5hyw-n69x.csv'
dog_data = pd.read_csv(url)

To take a peek at a dataframe, we can use the functions .head() or .tail() to look at the first or final 5 rows of the table.  Below is .head().  Try out .tail() also!

In [4]:
dog_data.head()

,animalbirth,animalgender,animalname,borough,breedname,censustract2010,citycouncildistrict,communitydistrict,congressionaldistrict,licenseexpireddate,licenseissueddate,nta,rownumber,statesenatorialdistrict,zipcode
0,2000-01-01T00:00:00.000,M,SHADOW,Brooklyn,Beagle,1014.0,46.0,318.0,8.0,2016-01-30T00:00:00.000,2014-12-29T00:00:00.000,BK50,1753,19.0,11236
1,2011-10-01T00:00:00.000,M,ROCCO,Brooklyn,Boxer,756.0,45.0,314.0,9.0,2016-01-30T00:00:00.000,2015-01-07T00:00:00.000,BK43,2415,17.0,11210
2,2005-09-01T00:00:00.000,M,LUIGI,Bronx,Maltese,516.0,13.0,210.0,14.0,2016-02-02T00:00:00.000,2015-01-17T00:00:00.000,BX10,3328,34.0,10464
3,2013-08-01T00:00:00.000,F,PETUNIA,Brooklyn,Pug,419.0,34.0,304.0,7.0,2016-03-28T00:00:00.000,2015-03-01T00:00:00.000,BK78,7537,18.0,11221
4,2008-10-01T00:00:00.000,M,ROMEO,Bronx,Maltese,65.0,17.0,201.0,15.0,2016-03-09T00:00:00.000,2015-03-09T00:00:00.000,BX34,8487,32.0,10451

In [5]:
#try out .tail() in this cell!

Pandas also has a function that will tell you the datatype of each of the columns, [.dtypes](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html).  Try it out below!

In [7]:
dog_data.dtypes

animalbirth                 object
animalgender                object
animalname                  object
borough                     object
breedname                   object
censustract2010            float64
citycouncildistrict        float64
communitydistrict          float64
congressionaldistrict      float64
licenseexpireddate          object
licenseissueddate           object
nta                         object
rownumber                    int64
statesenatorialdistrict    float64
zipcode                      int64
dtype: object